@font-face {
  font-family: Lexend;
  src: url(Lexend.ttf);
}

@font-face {
  font-family: Philosopher-Bold;
  src: url(Philosopher-Bold.ttf);
}

@font-face {
  font-family: Lexend-Bold;
  src: url(Lexend-Bold.ttf);
}

body {
  background-image: url(https://w.wallhaven.cc/full/m3/wallhaven-m3ojdk.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  cursor: url(ani947.cur), auto;
}

nav {
  background-color: rgba(10, 8, 17, .30);
}

.blur:hover {
  border: solid 1px #B1BBC1;
  border-radius: 100px;
  background-color: rgba(18, 18, 18, .35);
  backdrop-filter: blur(9px);
  transform: translateY(-16px);
}

.opacity {
  backdrop-filter: blur(0px);
  transition: transform .5s ease-in 0s
}

.index {
  font-size: 1.15rem;
  font-family: Lexend;
}

.heading {
  font-family: Philosopher-Bold;
}

.index {
  color: #121212;
}

.contact:hover {
  background-color: rgba(78, 161, 210, .6);
  color: #0A0811;
  border: solid 5px #B1BBC1;
  padding: 0 54px;
}

.contact {
  background-color: rgba(177, 94, 45, .6);
  font-family: Lexend;
  color: #B1BBC1;
  border: solid 5px #0A0811;
  border-radius: 15px;
  padding: 0 54px;
}

span  {
  color: #7B8287;
}

.aktibo  {
  color: #B1BBC1;
}

@keyframes ikot {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.ikot {
  animation: ikot 5s linear;
}
